Braille_Shape_Generator_Client/Connected Services/ShapeGeneratorService/Shape_Generator_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Circle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CircleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Triangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TriangleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rectangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RectangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RectangleResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Square">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SquareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SquareResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrailleDots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrailleDotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBrailleDotsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumbers">
        <s:complexType />
      </s:element>
      <s:element name="GetNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNumbersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBrailleDotsLetters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="letter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBrailleDotsLettersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBrailleDotsLettersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CircleSoapIn">
    <wsdl:part name="parameters" element="tns:Circle" />
  </wsdl:message>
  <wsdl:message name="CircleSoapOut">
    <wsdl:part name="parameters" element="tns:CircleResponse" />
  </wsdl:message>
  <wsdl:message name="TriangleSoapIn">
    <wsdl:part name="parameters" element="tns:Triangle" />
  </wsdl:message>
  <wsdl:message name="TriangleSoapOut">
    <wsdl:part name="parameters" element="tns:TriangleResponse" />
  </wsdl:message>
  <wsdl:message name="RectangleSoapIn">
    <wsdl:part name="parameters" element="tns:Rectangle" />
  </wsdl:message>
  <wsdl:message name="RectangleSoapOut">
    <wsdl:part name="parameters" element="tns:RectangleResponse" />
  </wsdl:message>
  <wsdl:message name="SquareSoapIn">
    <wsdl:part name="parameters" element="tns:Square" />
  </wsdl:message>
  <wsdl:message name="SquareSoapOut">
    <wsdl:part name="parameters" element="tns:SquareResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrailleDotsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrailleDots" />
  </wsdl:message>
  <wsdl:message name="GetBrailleDotsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrailleDotsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumbers" />
  </wsdl:message>
  <wsdl:message name="GetNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrailleDotsLettersSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrailleDotsLetters" />
  </wsdl:message>
  <wsdl:message name="GetBrailleDotsLettersSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrailleDotsLettersResponse" />
  </wsdl:message>
  <wsdl:portType name="Shape_Generator_ServiceSoap">
    <wsdl:operation name="Circle">
      <wsdl:input message="tns:CircleSoapIn" />
      <wsdl:output message="tns:CircleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Triangle">
      <wsdl:input message="tns:TriangleSoapIn" />
      <wsdl:output message="tns:TriangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rectangle">
      <wsdl:input message="tns:RectangleSoapIn" />
      <wsdl:output message="tns:RectangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Square">
      <wsdl:input message="tns:SquareSoapIn" />
      <wsdl:output message="tns:SquareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDots">
      <wsdl:input message="tns:GetBrailleDotsSoapIn" />
      <wsdl:output message="tns:GetBrailleDotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumbers">
      <wsdl:input message="tns:GetNumbersSoapIn" />
      <wsdl:output message="tns:GetNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDotsLetters">
      <wsdl:input message="tns:GetBrailleDotsLettersSoapIn" />
      <wsdl:output message="tns:GetBrailleDotsLettersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Shape_Generator_ServiceSoap" type="tns:Shape_Generator_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap:operation soapAction="http://tempuri.org/Circle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Triangle">
      <soap:operation soapAction="http://tempuri.org/Triangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rectangle">
      <soap:operation soapAction="http://tempuri.org/Rectangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Square">
      <soap:operation soapAction="http://tempuri.org/Square" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDots">
      <soap:operation soapAction="http://tempuri.org/GetBrailleDots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumbers">
      <soap:operation soapAction="http://tempuri.org/GetNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDotsLetters">
      <soap:operation soapAction="http://tempuri.org/GetBrailleDotsLetters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Shape_Generator_ServiceSoap12" type="tns:Shape_Generator_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Circle">
      <soap12:operation soapAction="http://tempuri.org/Circle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Triangle">
      <soap12:operation soapAction="http://tempuri.org/Triangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rectangle">
      <soap12:operation soapAction="http://tempuri.org/Rectangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Square">
      <soap12:operation soapAction="http://tempuri.org/Square" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDots">
      <soap12:operation soapAction="http://tempuri.org/GetBrailleDots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumbers">
      <soap12:operation soapAction="http://tempuri.org/GetNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrailleDotsLetters">
      <soap12:operation soapAction="http://tempuri.org/GetBrailleDotsLetters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Shape_Generator_Service">
    <wsdl:port name="Shape_Generator_ServiceSoap" binding="tns:Shape_Generator_ServiceSoap">
      <soap:address location="https://localhost:44399/Shape_Generator_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Shape_Generator_ServiceSoap12" binding="tns:Shape_Generator_ServiceSoap12">
      <soap12:address location="https://localhost:44399/Shape_Generator_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>